{% extends 'administrator/layout.html' %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="page-header"><h3>Description</h3></div>
        <p><strong>Tuyei Software Solutions</strong> is working day and night to ensure that we make life
        herre on earth worth living.Our software products gives you all the basic needs within your raech.We belive in the power of each an every person
        phone and thus a phone can ensure a perfect managerial.Through the app you can manage suppliers of a particular product,manage registered hostel owners among others.</p>
    </div>
</div>
</div>
{% endblock %}